.date-div {
    flex-direction: column;
    padding: 3vw;
}
.calendar-days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    gap: 0.8vw;
}
.calendar-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.8vw;
}
.calendar-p {
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    gap: 1px;
}
.calendar-back {
    background-color: #252528;
    transition: 0.3s;
    cursor: default;
}
.data-hover {
    width: 100%;
    color: #737375;
    transition: 0.3s;
}
.data-hover:hover {
    color: white;
}
.day-active {
    background-color: #39393C;
    color: #88888b;
}
.free-day {
    width: 2vw;
    height: 2vw;
}
.calendar-head {
    width: 100%;
    display: flex;
    margin-bottom: 2vh;
    gap: 1vw;
}
input {
    font-size: 1vw;
    background: none;
    border: none;
    color: white;
}
.action-check {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: aqua;
}